<!DOCTYPE html>
<html>
<head>
  <title>CakeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="<%=params[:action]%>-page">
  <nav>
    <li><%= link_to('Home Page Cakes', cakes_path)%></li>
    <li><%= link_to('New Cake', new_cake_path)%></li>
  </nav>
</header>

<%= yield %>

</body>
</html>
